.modal__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    cursor: default;
}
.modal__window {
    max-width: 500px;
    background-color: white;
    border: 1px solid #fff;
    font-size: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.modal__titlebar {
    height: 40px;
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal__title {
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #E74C3C;
}
.modal__close {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.modal__close:active {
    transform: scale(0.9);
}
.modal__content {
    padding: 15px;
    font-size: 1em;
    background: #BBB;
}